[Unit]
Description=CrewLink Server

[Service]
ExecStart=/usr/bin/yarn start
WorkingDirectory=/opt/crewlink-server/
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=crewlink-9736
User=crewlink
Group=crewlink
Environment=NODE_ENV=production
Environment=PORT=9736

[Install]
WantedBy=multi-user.target